include{common.tt}
include{headline.tt}

MySite.top_url{cv}
MySite.window_title{ AuthorName{}'s Curriculum Vitae}

MySite.side{
}

MySite.body{
REF{top}

P{
See my LINK{LinkedIn URL{https://www.linkedin.com/in/kenneth-stauffer-897a755} } page for my resume.
}

} //{ MySite.body }
