include{common.tt}

MySite.top_url{index}
MySite.window_title{ AuthorName{}'s Website }

MySite.side{

}

MySite.body{

IMG{photos/kjsship2.jpg}

P{ I{ GitDate{} } }

P{
Welcome to my minimalist website. My name is B{Ken Stauffer}, I'm a software engineer
living in New York city.
}

Section{Contact}
BulletList{
Item{
	LH{LinkedIn:}
	LINK{ URL{https://www.linkedin.com/in/kenneth-stauffer-897a755} }
}

Item{
	LH{GitHub:}
	LINK{ URL{https://github.com/kjs452} }
}

}

} //{ MySite.body }
